@model IEnumerable<teste.Cidades>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Adicionar Nova Cidade", "Adicionar")
</p>
<table class="table">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.Cidade)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Cidade)
        </td>
        <td align="right">
            @Html.ActionLink("Editar", "Editar", new { id=item.IDCidade }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDCidade }) |
            @Html.ActionLink("Excluir", "Excluir", new { id=item.IDCidade })
        </td>
    </tr>
}

</table>
